<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CinemaManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>indexServelet</display-name>
    <servlet-name>indexServelet</servlet-name>
    <servlet-class>indexServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexServelet</servlet-name>
    <url-pattern>/indexServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonsServlet</display-name>
    <servlet-name>PersonsServlet</servlet-name>
    <servlet-class>PersonsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonsServlet</servlet-name>
    <url-pattern>/PersonsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataServlet</display-name>
    <servlet-name>DataServlet</servlet-name>
    <servlet-class>DataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataServlet</servlet-name>
    <url-pattern>/DataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoomServlet</display-name>
    <servlet-name>RoomServlet</servlet-name>
    <servlet-class>RoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomServlet</servlet-name>
    <url-pattern>/RoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowingServlet</display-name>
    <servlet-name>ShowingServlet</servlet-name>
    <servlet-class>ShowingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowingServlet</servlet-name>
    <url-pattern>/ShowingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoomServlet1</display-name>
    <servlet-name>RoomServlet1</servlet-name>
    <servlet-class>RoomServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomServlet1</servlet-name>
    <url-pattern>/RoomServlet1</url-pattern>
  </servlet-mapping>
</web-app>